### 네이버 API 사용해 보기

In [1]:
import urllib.request
client_id = 'CDdDmPtQ_YMmncpU7_rF'
client_secret = 'nYXXwCcdur'

In [2]:
encText = urllib.parse.quote('pinkwink')
url = "https://openapi.naver.com/v1/search/blog.json?query=" + encText
url

'https://openapi.naver.com/v1/search/blog.json?query=pinkwink'

In [4]:
request = urllib.request.Request(url)
request.add_header('X-Naver-Client-id', client_id)
request.add_header('X-Naver-Client-Secret', client_secret)

In [5]:
response = urllib.request.urlopen(request)
print(response.getcode())

200

In [6]:
type(response)

http.client.HTTPResponse

In [7]:
print(response.read().decode('utf-8'))

{
"lastBuildDate": "Thu, 17 Jun 2021 01:44:59 +0900",
"total": 2216,
"start": 1,
"display": 10,
"items": [
{
"title": "<b>PinkWink</b>님의 DC모터 시정수 구하기.",
"link": "https:\/\/blog.naver.com\/hjh2578?Redirect=Log&logNo=222172280836",
"description": "현재 밸런싱 봇 제작에 난항을 겪고 있어 해당 시정수를 측정하기 위한 방법을 구글링 해두었음 https://<b>pinkwink</b>.kr/336 현재 갖고 있는 밸런싱봇에는 MCP4922라는 DA컨버터를 별도로 설계하여... ",
"bloggername": "닥현의 회로연구",
"bloggerlink": "https://blog.naver.com/hjh2578",
"postdate": "20201213"

},
{
"title": "자료 주소, <b>PinkWink</b>, DataScience; 시카고 샌드위치 맛집 주소",
"link": "https:\/\/blog.naver.com\/neobk2019?Redirect=Log&logNo=222090851064",
"description": "책(파이썬으로 데이터 주무르기) 내용 자료 주소, <b>PinkWink</b>, DataScience #3장 #시카고 #샌드위치 #맛집 #분석 #주소 - 교재 발간당시와 현재의 웹페이지가 바뀌어서, 교재에... ",
"bloggername": "(비케이) 배우고 익히는 즐거움",
"bloggerlink": "https://blog.naver.com/neobk2019",
"postdate": "20200916"

},
{
"title": "<b>PinkWink</b> 블로그에서 온 선물..",
"link": "https:\/\/blog.naver.com\/chandong83?Redirect=Log&logNo=221531853244",
"description": "국내 최고 아이티 블로그인 <b>PinkWink</b> 블로거이신 민형기 박사님께서 선물을 보내주셨다~ 크.. 이런 영광이!!!! 잘 쓰겠습니다~ 박사님!!! 나도 나중에 블로그 잘 운영해서 이런 선물도 나눠줘 보고 싶다~~ㅋ 요즘... ",
"bloggername": "하이! 제니스",
"bloggerlink": "https://blog.naver.com/chandong83",
"postdate": "20190507"

},
{
"title": "Project -ing) <b>PinkWink</b> (핑크윙크) 쇼핑몰 브랜드 로고디자인... ",
"link": "https:\/\/blog.naver.com\/honggraphic?Redirect=Log&logNo=221880867448",
"description": "한국브랜드에 대한 위상이 높아지고 있는 요즘, K를 강조한 브랜드 개발 요청이 많아지고 있습니다. 이번 프로젝트는 쇼핑몰 브랜드로 베트남과 말레이시아 등의 수출을 목표로 한류 열풍을 이어나갈... ",
"bloggername": "홍그래픽",
"bloggerlink": "https://blog.naver.com/honggraphic",
"postdate": "20200330"

},
{
"title": "2012년 가을... <b>PinkWink</b>가 결혼을 합니다.^^",
"link": "https://pinkwink.kr/535",
"description": "<b>PinkWink</b>입니다. 정말 오랜만에 글을 올리네요. 사실 블로그 활동자체가 오랜만입니다. 이유는 단지 너무... 축하해주세요.^^. <b>PinkWink</b> 장가가는날^^ 말이에요^^ 좋아요 5 공유하기 글 요소 구독하기 <b>PinkWink</b>",
"bloggername": "PinkWink",
"bloggerlink": "https://pinkwink.kr/",
"postdate": "20121004"

},
{
"title": "[공유] <b>PinkWink</b> :: Python에서 OpenCV를 이용해서... ",
"link": "https:\/\/blog.naver.com\/hersheythings?Redirect=Log&logNo=222221161855",
"description": "<b>PinkWink</b> :: Python에서 OpenCV를 이용해서 초간편하게 사람 얼굴, 몸을 인식하기",
"bloggername": "허씨 이야기",
"bloggerlink": "https://blog.naver.com/hersheythings",
"postdate": "20210127"

},
{
"title": "[<b>pinkwink</b>님-구매후기]",
"link": "https:\/\/blog.naver.com\/monetchou?Redirect=Log&logNo=150182740062",
"description": "친구들 중에 강아지 키우는 아이들에겐 연말선물로 강아지옷선물했는데. 이옷너무 이쁘다고.맘에 든다고 해주어서 저도 으쓱해졌습니다. 옷입고 포즈도 잘취해주고.귀엽죠? 덕분에...저... ",
"bloggername": "몽에슈",
"bloggerlink": "https://blog.naver.com/monetchou",
"postdate": "20140110"

},
{
"title": "[공유] <b>PinkWink</b> :: 저역통과필터와 고역통과필터를 C로 구현",
"link": "https:\/\/blog.naver.com\/kangusreport?Redirect=Log&logNo=221870399107",
"description": "<b>PinkWink</b> :: 저역통과필터와 고역통과필터를 C로 구현",
"bloggername": "Dex Note",
"bloggerlink": "https://blog.naver.com/kangusreport",
"postdate": "20200324"

},
{
"title": "<b>PinkWink</b> :: 정보를 담고 있는 좌표계에 회전행렬을 적용하는... ",
"link": "https://blog.daum.net/knightofelf/42100",
"description": "<b>PinkWink</b> :: 정보를 담고 있는 좌표계에 회전행렬을 적용하는 방법 http://<b>pinkwink</b>.kr/404 공유하기 글 요소 저작자표시 사업자 정보 표시 | | | 사업자 등록번호 : -- | TEL : -- | 사이버몰의 이용약관... ",
"bloggername": "knight of elf - 애들은 잘놀아",
"bloggerlink": "https://blog.daum.net/knightofelf",
"postdate": "20190930"

},
{
"title": "[공유] <b>PinkWink</b> :: 맥에서 윈도우용(NTFS) 외장하드에 파일... ",
"link": "https:\/\/blog.naver.com\/sonidda?Redirect=Log&logNo=221722293907",
"description": "<b>PinkWink</b> :: 맥에서 윈도우용(NTFS) 외장하드에 파일 복사/쓰기 가능하게 해주는 Mounty",
"bloggername": "손스의 소소한 기록들",
"bloggerlink": "https://blog.naver.com/sonidda",
"postdate": "20191129"

}
]
}

### 네이버 책 검색 정보 가져오기

In [43]:
def create_url(api_node, search_text, start_num, disp_num):
    base = 'https://openapi.naver.com/v1/search'
    node ='/' + api_node + '.json'
    param_query = '?query=' + urllib.parse.quote(search_text)
    param_start = '&start=' + str(start_num)
    param_disp = '&display=' + str(disp_num)
    
    return base + node + param_query + param_start + param_disp

In [44]:
create_url('book', 'TEST', 1, 10)

'https://openapi.naver.com/v1/search/book.json?query=TEST&start=1&display=10'

In [45]:
import json

client_id = 'CDdDmPtQ_YMmncpU7_rF'
client_secret = 'nYXXwCcdur'

url = create_url('book', '파이선', 1,3)

request = urllib.request.Request(url)
request.add_header('X-naver-Client-id', client_id)
request.add_header('X-naver-Client-Secret', client_secret)

response = urllib.request.urlopen(request)

result = json.loads(response.read().decode('utf-8'))

result

{'lastBuildDate': 'Thu, 17 Jun 2021 02:02:14 +0900',
 'total': 54,
 'start': 1,
 'display': 3,
 'items': [{'title': '컴퓨팅 사고를 위한 <b>파이선</b> 입문 (<b>파이선</b>(Python) 입문자를 위한 최고의 선택)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16284398',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/162/843/16284398.jpg?type=m1&udate=20200313',
   'author': '한옥영',
   'price': '25000',
   'discount': '22500',
   'publisher': '성균관대학교출판부(SKKUP)',
   'pubdate': '20200313',
   'isbn': '1155504003 9791155504000',
   'description': '소프트웨어! 이젠 선택이 아니라 필수‘4차 산업혁명’이라는 큰 변화가 이미 눈앞에 펼쳤다. 세상은 급변하고 있으며, 전 세계가 소프트웨어 교육에 엄청난 투자와 노력을 기울이고 있다. 이는 소프트웨어 중심 사회로 세상의 패러다임이 변화하며 나타나는 다양한 과정이라 할 수 있다. 우리나라도 예외가... '},
  {'title': '나는 <b>파이선</b>으로 피지컬 컴퓨팅한다',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15910149',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/159/101/15910149.jpg?type=m1&udate=20200827',
   'author': '최정원|김경규|장병철',
   'price': '18000',
   'discount': '16200',
   'publisher': '씨마스',
   'pubdate': '20191201',
   'isbn': '1156723515 9791156723516',
   'description': '텍스트 기반 프로그래밍 언어 중 문법이 까다롭지 않아 배우기 쉬운 <b>파이선</b>을 프로그래밍 언어로 선정하고, 여러 가지 센서 및 액추에이터가 내장된 마이크로비트를 활용함으로써 회로 설계에 대한 부담을 최소화하였습니다. \n센서와 액추에이터 등 물리적인 입출력 장치의 작동을 제어하는 기초 내용뿐 아니라... '},
  {'title': '엔트리<b>파이선</b> (블록 코딩에서 텍스트 코딩으로!)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=13760207',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/137/602/13760207.jpg?type=m1&udate=20180704',
   'author': '정영식|홍은미|김슬기|김성훈',
   'price': '22000',
   'discount': '21780',
   'publisher': '한빛아카데미',
   'pubdate': '20180630',
   'isbn': '1156643945 9791156643944',
   'description': '엔트리<b>파이선</b>을 통해 프로그래밍과 좀 더 가까워지세요!\n엔트리<b>파이선</b>은 엔트리에 포함된 교육용 프로그래밍 언어입니다. 블록 프로그래밍 언어인 엔트리를 사용하다가 엔트리<b>파이선</b> 모드로 전환하면, 엔트리 블록이 <b>파이선</b> 문법에 맞게 전환되기 때문에 누구나 부담 없이 텍스트 프로그래밍 언어를 익힐 수... '}]}

In [46]:
len(result['items'])

3

In [47]:
titles = [result['items'][n]['title'] for n in range(3)]
titles

['컴퓨팅 사고를 위한 <b>파이선</b> 입문 (<b>파이선</b>(Python) 입문자를 위한 최고의 선택)',
 '나는 <b>파이선</b>으로 피지컬 컴퓨팅한다',
 '엔트리<b>파이선</b> (블록 코딩에서 텍스트 코딩으로!)']

In [48]:
authors = [result['items'][n]['author'] for n in range(3)]
authors

['한옥영', '최정원|김경규|장병철', '정영식|홍은미|김슬기|김성훈']

In [49]:
pubdates = [result['items'][n]['pubdate'] for n in range(3)]
pubdates

['20200313', '20191201', '20180630']

In [50]:
import pandas as pd

pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

,책제목,작가,출판일
0,컴퓨팅 사고를 위한 <b>파이선</b> 입문 (<b>파이선</b>(Python) 입...,한옥영,20200313
1,나는 <b>파이선</b>으로 피지컬 컴퓨팅한다,최정원|김경규|장병철,20191201
2,엔트리<b>파이선</b> (블록 코딩에서 텍스트 코딩으로!),정영식|홍은미|김슬기|김성훈,20180630

In [53]:
def get_dataframe(url):
    
    client_id = 'CDdDmPtQ_YMmncpU7_rF'
    client_secret = 'nYXXwCcdur'

    request = urllib.request.Request(url)
    request.add_header('X-naver-Client-id', client_id)
    request.add_header('X-naver-Client-Secret', client_secret)

    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']

    titles = [result['items'][n]['title'] for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [54]:
get_dataframe(url)

,책제목,작가,출판일
0,컴퓨팅 사고를 위한 <b>파이선</b> 입문 (<b>파이선</b>(Python) 입...,한옥영,20200313
1,나는 <b>파이선</b>으로 피지컬 컴퓨팅한다,최정원|김경규|장병철,20191201
2,엔트리<b>파이선</b> (블록 코딩에서 텍스트 코딩으로!),정영식|홍은미|김슬기|김성훈,20180630

In [55]:
def delete_tag(input_str):
    input_str = input_str.replace('<b>','')
    input_str = input_str.replace('</b>','')
    
    return input_str

In [63]:
def get_dataframe(url):
    
    client_id = 'CDdDmPtQ_YMmncpU7_rF'
    client_secret = 'nYXXwCcdur'

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    
    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [delete_tag(result['items'][n]['title']) for n in range(3)]
    authors = [result['items'][n]['author'] for n in range(3)]
    pubdates = [result['items'][n]['pubdate'] for n in range(3)]

    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [64]:
get_dataframe(url)

                                              책제목               작가       출판일
0  컴퓨팅 사고를 위한 파이선 입문 (파이선(Python) 입문자를 위한 최고의 선택)              한옥영  20200313
1                              나는 파이선으로 피지컬 컴퓨팅한다      최정원|김경규|장병철  20191201
2                      엔트리파이선 (블록 코딩에서 텍스트 코딩으로!)  정영식|홍은미|김슬기|김성훈  20180630

In [66]:
result_search = []

for n in range(1, 300, 100):
    url = create_url('book', '파이썬', n, 100)
    result_search.append(get_dataframe(url))
    
result_search = pd.concat(result_search)

In [68]:
result_search.head()

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬 (취업과 이직을 결정하는 알고리즘...  나동빈  20200805
1                         혼자 공부하는 파이썬 (파이썬 최신 버전 반영)  윤인성  20190610
2                                    Do it! 점프 투 파이썬  박응용  20190620
0      퀀트 전략 파이썬으로 세워라 (누구나 시작할 수 있는 파이썬 퀀트 투자 첫 단추)  박준규  20190430
1  한 번 배운 파이썬, 나만의 활용 스킬 (개발자가 아니어도 도전하는 일상과 업무 자동화)  이강성  20200722

In [69]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     9 non-null      object
 1   작가      9 non-null      object
 2   출판일     9 non-null      object
dtypes: object(3)
memory usage: 288.0+ bytes

In [70]:
result_search = result_search.reset_index(drop=True)
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     9 non-null      object
 1   작가      9 non-null      object
 2   출판일     9 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes

In [71]:
result_search

                                                 책제목            작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬 (취업과 이직을 결정하는 알고리즘...           나동빈  20200805
1                         혼자 공부하는 파이썬 (파이썬 최신 버전 반영)           윤인성  20190610
2                                    Do it! 점프 투 파이썬           박응용  20190620
3      퀀트 전략 파이썬으로 세워라 (누구나 시작할 수 있는 파이썬 퀀트 투자 첫 단추)           박준규  20190430
4  한 번 배운 파이썬, 나만의 활용 스킬 (개발자가 아니어도 도전하는 일상과 업무 자동화)           이강성  20200722
5        생활코딩! 파이썬 (가볍게 시작하여 유용하게 사용하는 생활코딩! Python)       이고잉|장용하  20200323
6                                     파이썬으로 배우는 영상처리  Sandipan Dey  20200120
7     한권으로 개발자가 원하던 파이썬 심화 A to Z (실무를 위해 반드시 알아야 할)       문용준|문성혁  20191125
8  파이썬을 활용한 머신러닝 쿡북 (전처리에서 딥러닝까지, 팬더스와 사이킷런 중심의 실...        크리스 알본  20190901

### 엑셀에 저장하기

In [74]:
writer = pd.ExcelWriter('./Python_book_info.xlsx', engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap': True})
format_center.set_align('center')
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)
worksheet.set_column('B:B', 90, format_center)
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()